{{!--

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



--}}
</br>
<div>
    Welcome {{firstName}}, the time is now: {{currentTime}}. You get super secret admin access since you are an admin. Remember, with great power comes great responsibility"
</div>
</br>

<a href="/protected">link to the user page</a>

<a href="/logout" style="position:absolute; bottom:1cm">Logout</a>
