<h1>Login </h1>
<form class="log-form" action="/login" id="login-form" method="post">
    <div>
        <label for="emailAddressInput">Enter email:</label>
        <input name="emailAddressInput" id="emailAddressInput" type="email">    
    </div>
    <div class="error" id="no-email" hidden>Please provide an email</div>
    </br>
    <div>
        <label for="passwordInput">Enter password:</label>
        <input name="passwordInput" id="passwordInput" type="password">
    </div>
    <div class="error" id="no-pass" hidden>Please provide a password</div>
    </br>
    <button class="log" type="submit">Login</button>
</form>
</br>
</br>
<a href="/register">Click here to register!</a> 