</br>
<div>
    Welcome {{firstName}}, the time is now: {{currentTime}}. Your role in the system is: {{role}}."
</div>

{{#if admin}}
<p><a href="/admin">Back to the admin page</a></p>
{{/if}}

<a class="logout-style" href="/logout" style="position:absolute; bottom:1cm">Logout</a>